{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Budget: {{budget.budgetName}} - Amount: {{budget.amount}}</a>
        <a class="mr-2" href="#">Start Date: {{ budget.startDate }} - End Date: {{budget.endDate}}</a>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('home') }}">Back</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#updateModal">Update</button>
          </div>
 
      </div>

    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete this Budget?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_budget', budgetID=budget.budgetID )}}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update this Budget?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('update_budget', budgetID=budget.budgetID )}}" method="POST">
            <input class="btn btn-danger" type="submit" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}