{% extends "layout.html" %}
{% block content %}
	{% if current_user.is_authenticated %}
		<h1>Payments</h1>
		{% for payment in payments %}
			<article class="media content-section">
			  <div class="media-body">
				<div class="article-metadata">
				  <a class="mr-2" href="#">{{ payment['name']}}</a>
				  <small class="text-muted">{{ payment['date']}}</small>
				</div>
				<p class="article-content">{{ payment['expense']}}</p>
				<p class="article-content">Amount: ${{ payment['amount']}}</p>
			  </div>
			</article>
		{% endfor %}
	{% else %} 
		<h1> Welcome! Login or Register to get Started!</h1>
	{% endif %}
{% endblock content %}